.video__iframes {
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    transform: translateY(40px);
    /* решение для расположения видео поверх границ 2 секций*/
    box-sizing: border-box;
}